html ,body{ 
    background:#ffffff; 
} 
body {
color: #888888;
background: #404040; 
font-family: 'Arial';
padding: 0px !important;
margin: 0px !important;
font-size: 13px;
overflow: hidden; 
}
#maincontent .l-tab-links {
margin-top: 7px;
}
img {
width: auto\9;
height: auto;
max-width: 100%;
vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;
}
.caret {
display: inline-block;
width: 0;
height: 0;
vertical-align: top;
border-top: 4px solid #000;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
content: "";
}
a, a:hover {
    text-shadow: none !important;
}
div, input, select, textarea, span, img, table, td, th, p, a, button, ul, li {
border-radius: 0 !important;
-moz-border-radius: 0 !important;
-webkit-border-radius: 0 !important;
}
#header.navbar {
min-width: 0px;
}
 
.navbar {  
}

#header.navbar-inverse .navbar-inner {
    background-color: #4a8bc2;
    background-image: -o-linear-gradient(top, #4a8bc2, #4a8bc2);
background-image: linear-gradient(to bottom, #090723, #090723);
background-repeat: repeat-x;
border-color: #4a8bc2;
color: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4a8bc2', endColorstr='#ff4a8bc2', GradientType=0);

}
#header{
    position:absolute;
    top:0px;
    left:0px; width:100%;
}
#sidebar {
	font-family:微软雅黑;
    position:relative;
    top:0px;
    left:0px; 
    width: 140px; 
    float:left;
}
#maincontent {
    position:relative;
    top:0px;
    left:0px;
    position:relative;
    float:left;
}
#header.navbar-inverse .navbar-inner {
height: 60px;
border: none !important;
}
.navbar .nav > li > a {
padding: 15px 10px;
}
#header .navbar-inner {
    top: 0px;
    width: 100%;
    margin: 0px !important;
    margin-bottom: -2px !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    padding: 0px;
}
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
padding: 0px 0;
margin: 2px 0 0;
list-style: none;
text-shadow: none;
background-color: #fcfcfc;
border: 1px solid rgba(0, 2, 1, 0.2);
-webkit-box-shadow: 0 0px 0px rgba(0, 2, 1, 0.4);
-moz-box-shadow: 0 0px 0px rgba(0, 2, 1, 0.4);
box-shadow: 0 0px 0px rgba(0, 2, 1, 0.4);
-webkit-background-clip: padding-box;
-moz-background-clipp: padding;
background-clip: padding-box;
padding: 0px 0;
margin: 0px;
list-style: none;
text-shadow: none;
}
.dropdown-menu.logout {
width: 150px !important;
min-width: 120px !important;
max-width: 260px !important;
}
.dropdown-menu.extended {
top: 40px;
min-width: 160px !important;
max-width: 300px !important;
width: 235px !important;
}
.open>.dropdown-menu {
display: block;
}
 #header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {
background-color: rgba(0,0,0,0.2) !important;
}
 #header .top-menu .dropdown .dropdown-toggle .caret {
margin-top: 12px !important;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
border-bottom-color: #FFFFFF;
border-top-color: #FFFFFF;
}
#header .top-nav {
    margin-top: 9px;
}
#header .top-nav .dropdown-menu {
margin-top: 3px;
}
.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
right: 0;
left: auto;
}
 
.navbar .nav>li>.dropdown-menu:before {
right: 12px; 
position: absolute;
top: -7px; 
display: inline-block;
border-right: 7px solid transparent;
border-bottom: 7px solid #fff;
border-left: 7px solid transparent; 
content: ''; 
}
.dropdown-menu li:first-child a {
border-top: none;
border-bottom: 1px solid #EBEBEB !important;
}
.dropdown-menu li a:hover {
background-color: #f3f3f3 !important;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
background-color: #EEEEEE;
background-image: none;
color: #333333;
filter: none;
text-decoration: none;
}
.dropdown-menu li a {
padding: 7px 0 5px 0px;
list-style: none;
border-bottom: 1px solid #EBEBEB !important;
font-size: 12px; 
padding: 10px !important;
background-color: #fff !important; 
display: block;
padding: 5px 10px !important;
clear: both;
font-weight: normal;
line-height: 20px;
white-space: normal !important;
color:#333;text-decoration:none;
}
.navbar-inner:before, .navbar-inner:after {
display: table;
line-height: 0;
content: "";
}
.container-fluid {
padding-right: 20px;
padding-left: 20px;
}
 
.container-fluid:before, .container-fluid:after {
display: table;
line-height: 0;
content: "";
}
#header .brand {
margin-top: 0px !important;
padding: 18px 20px;
width: 200px;
}
.navbar-inverse .brand {
color: #999;
}
.navbar .brand {
display: block;
float: left; 
margin-left: -20px;
font-size: 20px;
font-weight: 200; 
}
.navbar .brand img {
    position: absolute;
    left: 10px;
}
.navbar .brand h3 {
    position: absolute;
    left: 40px;
    top:22px;
    color:white;
    font-size:18px;
    line-height:18px;
    font-weight:normal;
    text-shadow:5px 2px 6px #333;
    font-family:微软雅黑;
}
.navbar .nav.pull-right {
float: right;
margin-right: 0;
}
.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 10px 0 0;
}
.top-menu {
padding: 5px;
}
.pull-right {
float: right;
}
.pull-right {
float: right;
}
.nav {
margin-bottom: 20px;
margin-left: 0;
list-style: none;
}

#header .navbar-inner .nav > li {
margin-left: 0px !important;
margin-right: 0px !important;
}
.navbar .nav>li {
float: left;
}
.mtop5 {
margin-top: 5px;
}
.dropup, .dropdown {
position: relative;
}
#header .navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #fff;
} 

.navbar .nav>li>a {
float: none; 
text-decoration: none; 
}
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
padding: 0px 0;
margin: 2px 0 0;
list-style: none;
text-shadow: none;
background-color: #fcfcfc;
border: 1px solid rgba(0, 2, 1, 0.2);
-webkit-box-shadow: 0 0px 0px rgba(0, 2, 1, 0.4);
-moz-box-shadow: 0 0px 0px rgba(0, 2, 1, 0.4);
box-shadow: 0 0px 0px rgba(0, 2, 1, 0.4);
-webkit-background-clip: padding-box;
-moz-background-clipp: padding;
background-clip: padding-box;
padding: 0px 0;
margin: 0px;
list-style: none;
text-shadow: none;
}
#header .top-nav .dropdown-menu {
margin-top: -3px;
}
.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
right: 0;
left: auto;
}
.dropdown-menu.logout {
width: 150px !important;
min-width: 120px !important;
max-width: 260px !important;
}
.dropdown-menu {
    top: 40px;
}

 
.row-fluid {
width: 100%;
} 
 
#sidebar { 
background: #404040;
}
#header .topmenu {
    position: absolute;
    left: 270px;
    top: 0px;
    height: 60px;width:800px;
}

#header .topmenu ul, #header .topmenu li {
    list-style:none;margin:0;padding:0;
}
    #header .topmenu ul {
        margin-top: 10px;
    }
#header .topmenu .menu li {
    float:left;
      margin-left:16px;cursor:pointer;padding:5px;
}
    #header .topmenu .menu li span {
       font-size:15px;font-family:"微软雅黑";vertical-align: middle;  
    }
    #header .topmenu .menu li:hover {
        background:#054E82;
    }
#header .topmenu .menu img {
    width: 28px;
    height: 28px;vertical-align: middle; 
}

#sidebar > ul > li {
display: block;
margin: 0 0 1px 0px;
padding: 0;
border: 0px;
line-height: 30px;
}
#sidebar > ul > li.active > a, #sidebar > ul > li >a:hover, #sidebar > ul > li:hover>a {
background: #4a8bc2;
}
#sidebar > ul > li.active > a {
border: none;
}
#sidebar > ul > li > a {
color: #fff !important;
}
#sidebar > ul > li > a {
display: block;
position: relative;
margin: 0;
border: 0px;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
text-decoration: none;
font-family:微软雅黑;
font-size: 12px;
font-weight: normal;
text-align: left;
width: 110px;
padding: 5px 15px;
background: #505050;
transition-duration: 500ms;
transition-property: width, background;
transition-timing-function: ease;
-webkit-transition-duration: 500ms;
-webkit-transition-property: width, background;
-webkit-transition-timing-function: ease;
}
a, a:hover {
text-shadow: none !important;
color: #4a8bc2;
}
#sidebar > ul > li > ul.sub {
margin-bottom: 0 !important;
}
#sidebar > ul > li > ul.sub {
display: none;
list-style: none;
clear: both;
margin: 0px;
}
#sidebar ul {
margin-top: 1px !important;
width: 100%;
}


#sidebar > ul > li > ul.sub > li > a {
color: #a0a0a0;
}
#sidebar > ul > li > ul.sub > li > a {
display: block;
position: relative;
padding: 10px 10px 10px 30px;
color: #ccc;
text-decoration: none;
text-shadow: 0 1px 1px #000;
font-size: 12px;
font-weight: normal;
line-height: normal;
} 
#sidebar ul > li > a .arrow {
float: right;
margin-top: 12px;
margin-right: 0px;
width: 0;
height: 0;
border-left: 4px solid #A0A0A0;
border-top: 4px solid transparent;
border-bottom: 4px solid transparent;
}
#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow {
float: right;
margin-top: 12px;
margin-right: 0px;
width: 0;
height: 0;
border-left: 4px solid #fff;
border-top: 4px solid transparent;
border-bottom: 4px solid transparent;
}
#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open {
float: right;
margin-top: 14px;
margin-right: 0px;
width: 0;
height: 0;
border-top: 5px solid #fff;
border-left: 4px solid transparent;
border-right: 4px solid transparent;
}
#sidebar > ul > li > ul.sub > li > a:hover, #sidebar > ul > li > ul.sub > li.active > a {
background: #575757;
transition-duration: 500ms;
transition-property: width, background;
transition-timing-function: ease;
-webkit-transition-duration: 500ms;
-webkit-transition-property: width, background;
-webkit-transition-timing-function: ease;
}
#main-content {
margin-top: 0px;
margin-left: 180px;
min-height: 1000px;
background: #fff;
margin-bottom: 40px !important;
} 
#sidebarHide{
width:35px;
height:889px;
font-family:微软雅黑;
position:relative;
top:0px;
left:0px; 
width: 140px; 
float:left;
}