
.chat-thread {
  margin: 48px auto 0 auto;
  padding: 0 20px 0 0;
  list-style: none;
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 40px 16px 20px;
  margin: 0 0 20px 0;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}

/* Chat - Avatar */
.chat-thread li:before {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  content: '';
}

/* Chat - Speech Bubble Arrow */
.chat-thread li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
/*   border-top: 15px solid rgba(25, 147, 147, 0.2); */
}

.chat-window-message {
  width: 100%;
  height: 48px;
  font: 32px/48px 'Noto Sans', sans-serif;
  background: none;
  color: #A32r4;
  border: 0;
  border-bottom: 1px solid rgba(25, 147, 147, 0.2);
  outline: none;
}

.cmtleft:after {
  border-right: 15px solid transparent;
  border-top: 15px solid rgba(25, 147, 147, 0.2);
  right: -15px;
}

.cmtright:after {
  border-left: 15px solid transparent;
  border-top: 15px solid rgba(221, 221, 225, 1);
  left: -15px;
}
