.ui-selt-wrap {
	position: relative;
	display: inline-block;
	height: 32px;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #D6DEE3;
	color: #555;
	overflow: hidden;
	width: 208px;
	zoom: 1;
}


.option {
font-weight: normal;
height: 22px;
}