@charset "utf-8";
/* CSS Document */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
body, button, input, select, textarea { font: 12px/1.5 arial, \5b8b\4f53; color:#555; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
small { font-size: 12px; }
ul, ol { list-style: none; }
a { text-decoration: none; color:#555; cursor:pointer; }
a:hover { text-decoration: none; color:#3B87B1; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
legend { color: #000; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; }
/*table { border-collapse: collapse; border-spacing: 0; }*/


.cf:after { clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden; }
.cf { *zoom:1; }
.dn { display: none; }
.fl { float: left; }
.fr { float: right; }
.mr0 { margin-right: 0 !important; }
.mrb { margin-right:10px;}
.mr10 { margin-right:10px;}
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.tc { text-align: center; }
.tr { text-align: right; }
.es { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.fb { font-weight: bold !important; }
.pr { position:relative;}
.pa { position: absolute; }
.red{ color:#F00; }
.vm { vertical-align:middle; }
.f14{ font-size:14px; }
.fwn{ font-weight:normal !important; }

body{ background-color:#f5f5f5; }
a{ outline:none; }
.wrapper{ padding:15px 0 0 18px; }
.min-w{ min-width:1150px; }

/*搜索条件*/
.mod-search .con{ width: 250px; }
.ul-inline li{ float:left; margin-right:10px; }
.ul-inline li label{ padding-right:10px; }
.ul-inline li i{ padding:0 3px; font-style:normal; }
.mod-search .more{ cursor:pointer; }
/*高级条件*/
.mod-search-adv label { width: 80px; display: inline-block; }
.mod-search-adv li { margin-bottom: 20px; }
.mod-search-adv li i { font-style: normal; padding: 0 5px; }
.mod-search-adv .con{ width: 250px; }


.spinbox{ border: 1px solid #ccc; padding:1px 2px 2px; width:60px; }

.spinbox-active { background-repeat: no-repeat; background-position: right 0px; background-image: url(img/spinbox-sprite.png); }
.spinbox-active.spinbox-up-hover { background-position: right -18px; cursor: pointer; }
.spinbox-active.spinbox-down-hover { background-position: right -36px; cursor: pointer; }
.spinbox-active.spinbox-up { background-position: right -72px; cursor: pointer; }
.spinbox-active.spinbox-down { background-position: right -54px; cursor: pointer; }

/* 工具条：左右布局 */
.mod-toolbar-top{ padding:0 18px 10px 0; }
.mod-toolbar-top .tit{display:inline-block;*display:inline;zoom:1;margin-right:10px;font-size:14px;line-height:30px;vertical-align:middle;}

/* 工具条：右布局 */
.mod-toolbar-bottom{ padding:0 18px 10px 0; }

/* 公用搜索模块 */
.mod-search { padding:0 18px 10px 0; }
.mod-search .tit{display:inline-block;*display:inline;zoom:1;margin-right:10px;font-size:14px;line-height:30px;vertical-align:middle;}

.no-query{ background:#FFF url(img/no_query.png) 100px 60px no-repeat; height:402px; border:1px solid #ddd; margin-right:18px; }

/*高级搜索*/
.filter-con{width:570px;left:0;overflow:hidden;}
.filter-list{font-size:12px;}
.filter-list li{height:30px; padding:6px 0;overflow: hidden;zoom:1;}

#filter-menu{display: inline-block; *display: inline; *zoom:1;}
#filter-menu .menu-btn{background: #eaeaea; padding-right: 30px;filter:progid:DXImageTransform.Microsoft.Gradient(enabled=false);}
#filter-menu .menu-btn b{border-color: #888888 #eaeaea #eaeaea;}
#filter-menu .ui-input{width: 214px;}
#filter-menu input{font-size: 12px;vertical-align: middle;}
#filter-menu label.tit{display: inline-block;*display: inline;*zoom: 1; width: 65px; text-align: left;vertical-align: middle;line-height: 30px; font-size:12px;}
#filter-menu .con{width: 340px; }
#set-curPeriod{display: inline-block;*display: inline;*zoom: 1;margin-left:5px; width: 20px; height: 20px;overflow: hidden;vertical-align: middle;background: url('img/icon_time.png') no-repeat;}

#more-conditions{display: none;zoom:1;}
#filter-menu .mod-choose-input{position: relative;*zoom: 1;}
#filter-menu .mod-choose-input .ui-input{padding-right: 25px;width:210px;}
#filter-menu .ui-datepicker-input{width:95px;}

#filter-menu .btns{overflow: hidden;zoom:1;margin-top: 10px; height: 30px;}
#filter-submit{float: right;margin-right: 0;}
#filter-reset{float: right;display:none;margin-right: 10px;}
.conditions-trigger{color: #999;float: left;line-height: 30px;overflow:hidden;position: relative;padding-right: 16px;outline:none;*zoom:1;}
.conditions-trigger b{position: absolute;right: 0;top: 50%;margin-top: -8px;width: 16px;height: 16px;background:url('img/page_spr_icons.png') -192px -96px no-repeat;}
.conditions-expand b{background-position: -208px -96px;}
.conditions-trigger:hover{color: #999;}
.conditions-expand:hover{color: #999;}

/* 表单样式 */
.mod-form-rows{zoom:1;}
.mod-form-rows input,.mod-form-rows select{vertical-align:middle;}
.mod-form-rows .row-item{margin-bottom:15px;zoom:1;}
.mod-form-rows .row-item:after{clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden; }
.mod-form-rows .label-wrap{width:70px;float:left;display:inline;margin-right:10px;_margin-right:7px;line-height:30px;font-size:14px;}
.mod-form-rows .ctn-wrap{overflow:hidden;zoom:1;line-height: 30px;}
.mod-form-rows .ctn2-wrap{overflow:hidden;zoom:1;line-height: 60px;}
.mod-form-rows .radio-wrap input{margin-right: 3px;margin-top: -3px;}
.mod-form-rows .radio-wrap label{margin-right:20px;line-height: 30px;}
.mod-form-rows .tips{font-size: 12px;color: #999;}

/*validator*/
label.valid-error{margin-bottom:-10px;font-size: 12px;line-height:1.2;white-space: nowrap;color: #dd4e4e;}
input.valid-error,input.valid-error:hover,input.valid-error:focus{border-color:#dd4e4e;}

/*步骤*/
.mod-steps{font-size:0;margin-bottom: 20px;}
.mod-steps li{display:inline;font-size:14px;margin-right:12px;color:#888;}
.mod-steps .current{color:#317da7;font-weight:bold;}
.mod-steps span{margin-right:12px;}

.mod-inner{padding:0 0 0 18px;margin: 3px 0 0;}
.mod-inner h3{ margin-bottom:20px; font-size:14px; }
/*导入*/
#import-wrap{font-size:14px;line-height:1.8;}
#import-wrap .step-item{}
#import-wrap .tit{font-weight:bold;}
#import-wrap a.link{color:#3a86b0; text-decoration:underline; }
#import-wrap .ctn{margin-bottom:8px;}
#import-wrap .file-import-ctn{margin-bottom:30px;}
#import-wrap .step-btns{margin:5px -10px 0 0;text-align:right;}
#import-wrap .file-import-ctn .failed-rows{margin-top:15px;font-size:12px;}
#import-wrap .file-import-ctn .total{font-size:14px;margin-bottom:5px;}
#file-path{width:200px;}
#import-btn-wrap{vertical-align:middle;display:inline-block;*display:inline;zoom:1;width:60px;height:32px;}
#upload-progress{padding-bottom:40px;}
#upload-progress h3{font-size:14px;font-weight:bold;margin-bottom:20px;}
#upload-progress .progress-bar{position:relative;width:430px;height:10px;font-size:0;border:1px solid #e2e2e2;background-color:#f8f8f8;}
#upload-progress .progress-bar span{position:absolute;top:-1px;left:-1px;display:block;width:0%;height:100%;font-size:0;overflow:hidden;border:1px solid #3279a0;background-color:#428eb8;}


/* powerFloat */
.float_ajax_box {
	border: 1px solid #ccc;
	background-color: #fff;
}

.float_loading {
	width: 100px;
	height: 100px;
	background: url("img/loading.gif") no-repeat center;
}

.float_ajax_image {
	padding: 5px;
}

.float_ajax_error {
	width: 200px;
	padding: 40px 0;
	text-align: center;
}

.float_list_ul {
	margin: 0;
	padding: 1px;
	border: 1px solid #beceeb;
	background-color: #fff;
	font-size: 12px;
	list-style-type: none;
}

.float_list_a {
	display:block;
	text-decoration: none;
}
.float_list_a:hover {
	background-color:#f0f3f9;
	color: #333;
	text-decoration: none;
}

.float_list_ul li {
	line-height: 20px;
	border-top: 1px solid #f0f3f9;
	text-indent: 5px;
}

.float_list_ul li:first-child {
	border-top: 0;
}

.float_list_null {
	padding: 40px 20px;
	text-align: center;
}

.float_remind_box {
	border: 1px solid #F7CE39;
	background: #ffffe0;
	padding: 5px 10px;
}

.float_tip_box {
	line-height: 18px;
	padding: 0 3px;
	background-color: #ffffe0;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	border: 1px solid #333;
	position:absolute;
} 

.float_doing_box {
	border: 1px solid #F7CE39;
	background: #ffffe0 url("img/loading.gif") no-repeat 5px center;
	padding: 5px 10px 5px 25px;
	font-size: 12px;
	position: absolute;
}

.float_corner {
	font-size: 18px;
	font-family: '宋体';
	position: absolute;
	left: -6000px;
	overflow: hidden;
}
.float_corner .corner {
	position: absolute;
}
.float_corner .corner_1 {
	/*可去除*/
	color: #ccc;
}
.float_corner .corner_2 {
	/*可去除*/
	color: #fff;
}
.float_corner_top, .float_corner_bottom {
	width: 16px;
	height: 8px;
}
.float_corner_top {
	line-height: 14px;
}
.float_corner_bottom {
	line-height: 17px;
}
.float_corner_left, .float_corner_right {
	width: 8px;
	height: 16px;
}
.float_corner_top .corner, .float_corner_bottom .corner {
	left: 0;
}
.float_corner_right .corner, .float_corner_left .corner{
	top: -2px;
}
.float_corner_bottom .corner_1 {
}
.float_corner_bottom .corner_2 {
	top: 1px;
}
.float_corner_left .corner_1 {
	right: 0;
}
.float_corner_left .corner_2 {
	right: 1px;
}
.float_corner_top .corner_1 {
	bottom: 0;
}
.float_corner_top .corner_2 {
	bottom: 1px;
}
.float_corner_right .corner_2 {
	left: 1px;
}

/*grid中的操作图标样式 */
/* Icons from jquery.ui.core
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	/*text-indent: -99999px;ie7下会导致图标不见，使用font-size:0代替;http://www.liveme.org/text-indent-in-ie6-and-ie7.html*/
	font-size:0;
	overflow: hidden;
	background-repeat: no-repeat;
}

/* Icons 
 * create by guoliang_zou 
 * lastUpdate by guoliang_zou 2014-03-07
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url(img/ui-icons_20150410.png)/*{iconsContent}*/;
}
.ui-state-default .ui-icon {
	background-image: url(img/ui-icons_20150410.png)/*{iconsDefault}*/;
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url(img/ui-icons_20150410.png)/*{iconsHover}*/;
}

/* positioning normal*/
.ui-icon-seek-next { background-position:0 -16px; }
.ui-icon-seek-prev { background-position:-16px -16px; }
.ui-icon-seek-end { background-position:-32px -16px; }
.ui-icon-seek-first { background-position:-48px -16px; }
.ui-icon-trash { background-position:-64px -16px; }
.ui-icon-plus { background-position:-80px -16px; }
.ui-icon-search { background-position:-96px -16px; }
.ui-icon-pencil { background-position:-112px -16px; }
.ui-icon-arrowthickstop-1-s { background-position:-128px -16px; }
.ui-icon-copy { background-position:-144px -16px; }
.ui-icon-triangle-1-s { background-position:-160px -16px; }
.ui-icon-folder-open {  background-position:-175px -16px; }
.ui-icon-pic { background-position:-190px -16px; }
.ui-icon-config { background-position:-304px -16px; }
/* positioning default*/
.ui-state-default .ui-icon-seek-next { background-position:0 0; }
.ui-state-default .ui-icon-seek-prev { background-position:-16px 0; }
.ui-state-default .ui-icon-seek-end { background-position:-32px 0; }
.ui-state-default .ui-icon-seek-first { background-position:-48px 0; }
.ui-state-default .ui-icon-trash { background-position:-64px 0; }
.ui-state-default .ui-icon-plus { background-position:-80px 0; }
.ui-state-default .ui-icon-search { background-position:-96px 0; }
.ui-state-default .ui-icon-pencil { background-position:-112px 0; }
.ui-state-default .ui-icon-arrowthickstop-1-s { background-position:-128px 0; }
.ui-state-default .ui-icon-copy { background-position:-144px 0; }
.ui-state-default .ui-icon-triangle-1-s { background-position:-160px 0; }
.ui-state-default .ui-icon-pic { background-position:-190px 0; }
.ui-state-default .ui-icon-config { background-position:-304px 0; }
/* positioning hover*/
.ui-state-hover .ui-icon-seek-next { background-position:0 -16px; }
.ui-state-hover .ui-icon-seek-prev { background-position:-16px -16px; }
.ui-state-hover .ui-icon-seek-end { background-position:-32px -16px; }
.ui-state-hover .ui-icon-seek-first { background-position:-48px -16px; }
.ui-state-hover .ui-icon-trash { background-position:-64px -16px; }
.ui-state-hover .ui-icon-plus { background-position:-80px -16px; }
.ui-state-hover .ui-icon-search { background-position:-96px -16px; }
.ui-state-hover .ui-icon-pencil { background-position:-112px -16px; }
.ui-state-hover .ui-icon-arrowthickstop-1-s { background-position:-128px -16px; }
.ui-state-hover .ui-icon-copy { background-position:-144px -16px; }
.ui-state-hover .ui-icon-triangle-1-s { background-position:-160px -16px; }
.ui-state-hover .ui-icon-pic { background-position:-190px -16px;}
.ui-state-hover .ui-icon-config { background-position:-304px -16px;}

/* --------------
   *   tree  *
* ------------ */
.l-tree
{
    margin:0; padding:0; list-style:none; overflow:hidden; position:relative; display:block; background:white;
} 
.l-tree-loading
{
    position: absolute;z-index: 91000;  top:40%; left:50%; overflow:hidden;
    background:url('../images/tree/loading.gif') no-repeat 0px 0px;width:24px; height:24px; 
     display:none;
}
.l-tree a,.l-tree span{color: #333;height: 22px;line-height: 22px; text-decoration:none;}
.l-tree .l-body span
{
    display: block;
    float: left;_display: inherit;_float:none;*display: inherit;*float:none;
}
.l-tree ul,.l-tree li{list-style:none; margin:0; padding:0;}
.l-tree li {clear: both;display: block;cursor: pointer;}
.l-tree li .l-body{ height:22px;line-height: 22px; overflow:hidden;width: 2000px;}
.l-tree .l-box
{
    width:22px; height:22px; overflow:hidden; float:left; background:url('img/tree.gif');background-position:-22px -220px;
}
.l-tree li .l-body .l-box-loading
{
     background:url('../images/tree/nodeloading4.gif') no-repeat 5px 5px; cursor:default;
}
.l-tree-noline .l-box
{
    background-image:url('../images/tree/tree-noline.gif');
}
.l-tree .l-expandable-close{background-position:0px -44px;}
.l-tree .l-first .l-expandable-close{background-position:0px -22px;}
.l-tree .l-last .l-expandable-close{ background-position:0px -66px;}
.l-tree .l-onlychild  .l-expandable-close{background-position:0px 0px;}

.l-tree .l-expandable-open{background-position:0px -132px;}
.l-tree .l-first .l-expandable-open{background-position:0px -110px;}
.l-tree .l-last .l-expandable-open{ background-position:0px -154px;}
.l-tree .l-onlychild  .l-expandable-open{background-position:0px -88px;}

.l-tree .l-over
{
    background: none;
}
.l-tree .l-over span
{
    text-decoration:underline;
}
.l-tree .l-selected
{
    background: none;
}
.l-tree .l-selected span{background: #D9E8FB; border:1px solid #B5CBEC; padding:0px 2px;height: 20px;
line-height: 20px;}

.l-tree .l-line{background-position:0px -176px;}
.l-tree .l-note{ background-position:0px -198px;}

.l-tree .l-note{ background-position:0px -198px;}
.l-tree .l-note-last{ background-position:0px -220px;}
.l-tree .l-checkbox-unchecked{ background-position:-22px 0px;} 
.l-tree .l-checkbox-checked{ background-position:-22px -22px;} 
.l-tree .l-checkbox-incomplete{ background-position:-22px -44px;} 

.l-tree .l-over .l-checkbox-unchecked{ background-position:-44px 0px;} 
.l-tree .l-over .l-checkbox-checked{ background-position:-44px -22px;} 
.l-tree .l-over .l-checkbox-incomplete{ background-position:-44px -44px;} 


.l-tree .l-tree-icon-folder{ background-position:-22px -88px;}
.l-tree .l-tree-icon-none{ background:none;}
.l-tree .l-tree-icon-none img{border: 0;height: 16px;width: 16px; top:2px; margin-top:2px; margin-left:2px;}
.l-tree .l-tree-icon-folder-open{background-position:-44px -88px;}
.l-tree .l-tree-icon-leaf{background-position:-22px -110px;}

/* Backgrounds */
.bg-navy { background-color: #001f3f; }
.bg-blue { background-color: #0074d9; }
.bg-aqua { background-color: #7fdbff; }
.bg-teal { background-color: #39cccc; }
.bg-olive { background-color: #3d9970; }
.bg-green { background-color: #2ecc40; }
.bg-lime { background-color: #01ff70; }
.bg-yellow { background-color: #ffdc00; }
.bg-orange { background-color: #ff851b; }
.bg-red { background-color: #ff4136; }
.bg-fuchsia { background-color: #f012be; }
.bg-purple { background-color: #b10dc9; }
.bg-maroon { background-color: #85144b; }
.bg-white { background-color: #ffffff; }
.bg-gray { background-color: #aaaaaa; }
.bg-silver { background-color: #dddddd; }
.bg-black { background-color: #111111; }
/* Colors */
.navy { color: #001f3f; }
.blue { color: #0074d9; }
.aqua { color: #7fdbff; }
.teal { color: #39cccc; }
.olive { color: #3d9970; }
.green { color: #2ecc40; }
.lime { color: #01ff70; }
.yellow { color: #ffdc00; }
.orange { color: #ff851b; }
.red { color: #ff4136; }
.fuchsia { color: #f012be; }
.purple { color: #b10dc9; }
.maroon { color: #85144b; }
.white { color: #ffffff; }
.silver { color: #dddddd; }
.gray { color: #aaaaaa; }
.black { color: #111111; }

/* ---------------------single CSS----------------------- */
/* display */
.dn{display:none;}
.di{display:inline;}
.db{display:block;}
.dib{display:inline-block;} /* if the element is block level(eg. div, li), using 'inline_any' instead */
/* height */
.h14{height:14px;}
.h16{height:16px;}
.h18{height:18px;}
.h20{height:20px;}
.h22{height:22px;}
.h24{height:24px;}
/* width */
/* fixed width value */
.w20{width:20px;}
.w50{width:50px;}
.w70{width:70px;}
.w100{width:100px;}
.w120{width:120px;}
.w140{width:140px;}
.w160{width:160px;}
.w180{width:180px;}
.w200{width:200px;}
.w220{width:220px;}
.w250{width:250px;}
.w280{width:280px;}
.w300{width:280px;}
.w320{width:320px;}
.w360{width:360px;}
.w400{width:400px;}
.w460{width:460px;}
.w500{width:500px;}
.w600{width:600px;}
.w640{width:640px;}
.w700{width:700px;}
/* percent width value */
.pct10{width:10%;}
.pct15{width:15%;}
.pct20{width:20%;}
.pct25{width:25%;}
.pct30{width:30%;}
.pct33{width:33.3%;}
.pct35{width:35%;}
.pct40{width:40%;}
.pct50{width:50%;}
.pct60{width:60%;}
.pct66{width:66.6%;}
.pct70{width:70%;}
.pct75{width:75%;}
.pct80{width:80%;}
.pct90{width:90%;}
.pct100{width:100%;}
/* line-height */
.lh14{line-height:14px;}
.lh16{line-height:16px;}
.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
/* margin */
.m0{margin:0;}
.ml1{margin-left:1px;}
.ml2{margin-left:2px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.mr1{margin-right:1px;}
.mr2{margin-right:2px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mt1{margin-top:1px;}
.mt2{margin-top:2px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb1{margin-bottom:1px;}
.mb2{margin-bottom:2px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
/* margin negative */
.ml-1{margin-left:-1px;}
.mr-1{margin-right:-1px;}
.mt-1{margin-top:-1px;}
.mb-1{margin-bottom:-1px;}
.ml-3{margin-left:-3px;}
.mr-3{margin-right:-3px;}
.mt-3{margin-top:-3px;}
.mb-3{margin-bottom:-3px;}
.ml-20{margin-left:-20px;}
.mr-20{margin-right:-20px;}
.mt-20{margin-top:-20px;}
.mb-20{margin-bottom:-20px;}
/* padding */
.p0{padding:0;}
.p1{padding:1px;}
.pl1{padding-left:1px;}
.pt1{padding-top:1px;}
.pr1{padding-right:1px;}
.pb1{padding-bottom:1px;}
.p2{padding:2px;}
.pl2{padding-left:2px;}
.pt2{padding-top:2px;}
.pr2{padding-right:2px;}
.pb2{padding-bottom:2px;}
.pl5{padding-left:5px;}
.p5{padding:5px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.pb5{padding-bottom:5px;}
.p10{padding:10px;}
.pl10{padding-left:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.p15{padding:15px;}
.pl15{padding-left:15px;}
.pt15{padding-top:15px;}
.pr15{padding-right:15px;}
.pb15{padding-bottom:15px;}
.p20{padding:20px;}
.pl20{padding-left:20px;}
.pt20{padding-top:20px;}
.pr20{padding-right:20px;}
.pb20{padding-bottom:20px;}
.p30{padding:30px;}
.pl30{padding-left:30px;}
.pt30{padding-top:30px;}
.pr30{padding-right:30px;}
.pb30{padding-bottom:30px;}
/* border-color name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color*/
.bdc{border:1px solid #ccc;}
.blc{border-left:1px solid #ccc;}
.brc{border-right:1px solid #ccc;}
.btc{border-top:1px solid #ccc;}
.bbc{border-bottom:1px solid #ccc;}
.bdd{border:1px solid #ddd;}
.bld{border-left:1px solid #ddd;}
.brd{border-right:1px solid #ddd;}
.btd{border-top:1px solid #ddd;}
.bbd{border-bottom:1px solid #ddd;}
.bde{border:1px solid #eee;}
.ble{border-left:1px solid #eee;}
.bre{border-right:1px solid #eee;}
.bte{border-top:1px solid #eee;}
.bbe{border-bottom:1px solid #eee;}
/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
.bgwh{background-color:#fff;}
.bgfb{background-color:#fbfbfb;}
.bgf5{background-color:#f5f5f5;}
.bgf0{background-color:#f0f0f0;}
.bgeb{background-color:#ebebeb;}
.bge0{background-color:#e0e0e0;}
/* safe color */
.g0{color:#000;}
.g3{color:#333;}
.g6{color:#666;}
.g9{color:#999;}
.gc{color:#ccc;}
.wh{color:white;}
/* font-size */
.f0{font-size:0;}
.f10{font-size:10px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
/* font-family */
.fa{font-family:Arial;}
.ft{font-family:Tahoma;}
.fv{font-family:Verdana;}
.fs{font-family:Simsun;}
.fl{font-family:'Lucida Console';}
.fw{font-family:'Microsoft Yahei';}
/* font-style */
.n{font-weight:normal; font-style:normal;}
.b{font-weight:bold;}
.i{font-style:italic;}
/* text-align */
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.tj{text-align:justify;}
/* text-decoration */
.tdl{text-decoration:underline;}
.tdn,.tdn:hover,.tdn a:hover,a.tdl:hover{text-decoration:none;}
/* letter-spacing */
.lt-1{letter-spacing:-1px;}
.lt0{letter-spacing:0;}
.lt1{letter-spacing:1px;}
/* white-space */
.nowrap{white-space:nowrap;}
/* word-wrap */
.bk{word-wrap:break-word;}
/* vertical-align */
.vm{vertical-align:middle;}
.vtb{vertical-align:text-bottom;}
.vb{vertical-align:bottom;}
.vt{vertical-align:top;}
.vn{vertical-align:-2px;}
/* float */
.l{float:left;}
.r{float:right;}
/* clear */
.cl{clear:both;}
/* position */
.rel{position:relative;}
.abs{position:absolute;}
/*z-index*/
.zx1{z-index:1;}
.zx2{z-index:2;}
/* cursor */
.poi{cursor:pointer;}
.def{cursor:default;}
/* overflow */
.ovh{overflow:hidden;}
.ova{overflow:auto;}
/* visibility */
.vh{visibility:hidden;}
.vv{visibility:visible;}
/* zoom */
.z{*zoom:1;}


/* ------------------- multiply CSS ------------------ */
/* 块状元素水平居中 */
.auto{margin-left:auto; margin-right:auto;}
/* 清除浮 动*/
.fix{*zoom:1;}
.fix:after{display:table; content:''; clear:both;}
/* 基于display:table-cell的自适应布局 */
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/* 双栏自适应cell部分连续英文字符换行 */
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
/* 单行文字溢出虚点显 示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/* css3过渡动画效果 */
.trans{
	-webkit-transition:all 0.3s;	
	        transition:all 0.3s;
}
/* 大小不定元素垂直居中 */
.dib_vm{display:inline-block; width:0; height:100%; vertical-align:middle;}
/* 加载中背景图片 - 如果您使用该CSS小库，务必修改此图片地址 */
.loading{background:url(http://www.zhangxinxu.com/study/image/loading.gif) no-repeat center;}
/* 无框文本框文本域 */
.bd_none{border:0; outline:none;}
/* 绝对定位隐藏 */
.abs_out{position:absolute; left:-999em; top:-999em;}
.abs_clip{position:absolute; clip:rect(0 0 0 0);}
/* 按钮禁用 */
.disabled{color:#acacac!important; border-color:#acacac!important; text-shadow:1px 1px #fff!important; outline:0!important; cursor:default!important; pointer-events:none;}
.disabled:hover{text-decoration:none!important;}
/*inline-block与float等宽列表*/
.inline_box{font-size:1em; letter-spacing:-.25em; font-family:Arial;}
.inline_two, .inline_three, .inline_four, .inline_five, .inline_six, .inline_any{display:inline-block; *display:inline; letter-spacing:0; vertical-align:top; *zoom:1;}
.float_two, .float_three, .float_four, .float_five, .float_six{float:left;}
.inline_two, .float_two{width:49.9%;}
.inline_three, .float_three{width:33.3%;}
.inline_four, .float_four{width:24.9%;}
.inline_five, .float_five{width:19.9%;}
.inline_six, .float_six{width:16.6%;}
.inline_fix{display:inline-block; width:100%; height:0; overflow:hidden;}