input[type="text"] {
	border: 1px solid #ccc;
	padding: 2px;
	font-size: 1.2em;
	color: #444;
	width: 130px;
}

input[type="password"] {
	border: 1px solid #ccc;
	padding: 2px;
	font-size: 1.2em;
	color: #444;
	width: 130px;
}

.ui-btn, .ui-btn-prev, .ui-btn-next {
	margin-right: 5px;
}

body {
	background-color: #f5f5f5;
}

.wrapper {
	padding: 20px;
	min-width: 1000px;
	position: relative;
}

.mod-search {
	padding: 0 18px 10px 0;
}

.cf:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.fl {
	float: left;
}

.fl {
	font-family: 'Lucida Console';
}

#bottomField {
	position: fixed;
	border-radius: 4px 4px 3px 3px top: 0;
	filter: alpha(opacity = 90);
	right: 0px;
	background-color: #C5C5C5;
	padding: 8px;
}

#search_form li {
	float: left;
	list-style: none;
	display:inline;
}

#search_form input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 2em;
	vertical-align: middle;
}

#search_form table {
	cellspacing: 0;
	cellpadding: 0;
	border-collapse: separate;
	border-spacing: 2px;
	width: 100%;
	margin-left: 1em;
	margin-right: 1em;
}
.tba {
	cellspacing: 0;
	cellpadding: 0px;
	font-size: 25px;
	border-collapse: separate;
	border-spacing: 10px;
	width: 90%; margin-left: 2em; margin-right: 2em;
}
.tdw {
	display: inline-block;
	width: 5em;
	vertical-align: middle;
}


.l-text-field {
	position: absolute;
	top: -2px;
	left: -2px;
	background: #FFFFFF url('../images/ui/input.gif') repeat-x top;
	width: 120px;
	height: 22px;
	line-height: 22px;
	border: 0;
	margin: 0;
	outline: none;
	color: #333333;
}

.l-text {
position: relative;
background: #FFFFFF url('../images/ui/input.gif') repeat-x top;
border: 1px solid #D0D0D0;
height: 22px;
line-height: 22px;
width: 120px;
}