#editWin ul,#searchWin ul{float:left;margin:10px;width:250px;}

#editWin ul li,#searchWin ul li{float:left;}
#editWin ul .label,#searchWin ul .label{width:100px;text-align:right;height:32px;line-height:32px;}
#editWin ul .input,#searchWin ul .input{float:left;text-align:left;width:150px;}
#editWin ul .input input,#searchWin ul .input input{width:100%;height:28px;line-height:28px;}
#editWin select,#searchWin select{width:150px;text-align:left;height:32px;}
#editWin .operate,#searchWin .operate{text-align:center;width:90%;}
.l-text{width:148px;}
.clearboth{clear:both;}
.cmbox{}

#searchWin1 ul{margin:5px;width:100%;overflow:auto;font-size:14px;}
#searchWin1 ul li{float:left;}
#searchWin1 ul .label{width:100px;text-align:center;height:28px;line-height:28px;}
#searchWin1 ul .input{width:150px;text-align:left;}
#searchWin1 ul .input input{width:100%;height:28px;line-height:28px;}
#searchWin1 ul .btn{width:200px;text-align:center;height:28px;line-height:28px;}
#searchWin1 ul .line{width:20px;text-align:center;height:28px;line-height:28px;}