.default{
    width:100%;
    border: 1px solid #DFDEDE;
    border-collapse: collapse;
    font-family:"微软雅黑";
    font-size:12px;
    background: none repeat scroll 0 0 #FFFDFD;
    font-weight:normal;
    color: #000000;
}

.default td {
    border-bottom: 1px solid #DFDEDE;
    border-right: 1px solid #DFDEDE;
    padding: 5px;
    height: 18px;
    width:auto;
    vertical-align: middle;
}

.default input{
    border: 1px solid #DFDEDE;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
}

.default .gridlistViewEven {
    background: #e5f6f0;
}

.default tbody td:hover, .default tbody td.over {
     background-color: #daeaf2;
}

.find_button3{
    width:68px;
    height:34px;
    border:none;
    font-family:"微软雅黑";
    font-size:14px;
    background:url(../images/images1/bg_submit2.png) no-repeat;
    color:#444;
    cursor: pointer;
}

.gridlistViewTh3 {
    background-color:rgb(170,219,224);
    height: auto;
}

.gridlistViewTh a{ color:#444;}

.gridlistViewTh {
    background: url("../images/images1/bg_menu_frist.jpg") repeat scroll left top transparent;
    height: 28px;
}

/* blue */  
.blue {  
    color: #d9eef7;  
    border: solid 1px #0076a3;  
    background: #0095cd;  
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));  
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');  
}  
.blue:hover {  
    background: #007ead;  
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));  
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');  
}  
.blue:active {  
    color: #80bed6;  
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));  
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');  
}  
/* green */  
.green {  
    color: #e8f0de;  
    border: solid 1px #538312;  
    background: #64991e;  
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));  
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');  
}  
.green:hover {  
    background: #538018;  
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));  
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');  
}  
.green:active {  
    color: #a9c08c;  
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));  
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');  
}  

.hmdl_title_h3{font-size:20px;font-weight:bold;color:#23AABD;margin-top:10px;margin-left:8px;}
.hmdl_title_span{font-size:14px;color:#386792;}
.hmdl_title_hr{height:2px;border:none;border-top:2px groove skyblue;width:99%;}

.readonlyInput{
    border:1px solid #DDD;
    background-color:#F5F5F5;
    color:#ACA899;
}
/* LeftList */ 
.accordion {
    width: 100%;
    max-width: 360px;
    margin: 0px auto 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #CCC;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #b63b4d;
}

.accordion li.open i {
    color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.submenu {
    display: none;
    background: #444359;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: auto;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}