/*reset*/
html,body,p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{margin:0;padding:0}
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
body{background-color:#FFFFFF;color:#666;min-height:100%;height:auto!important;height:100%}
body,button,input,select,textarea,h1,h2,h3,h4,h5,h6{font:12px/1 "宋体","Microsoft Yahei",arial,simhei}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;vertical-align:middle}
a{text-decoration:none}
a:visited{}a:hover{text-decoration:underline}
a:active{}ul,li,ol{list-style:none}
strong,b{font-weight:normal}
em,i{font-style:normal}
iframe{display:block}
fieldset{border:1px solid #c0c0c0;margin:0 2px 18px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
s{text-decoration:none;}
/*public*/
.cf:after {content:"";clear:both;display:block;height:0;overflow:hidden}
.cf {zoom:1}
.fl{display:inline;float:left}.fr{display:inline;float:right}
.lh36 {line-height:36px}
.lh30 {line-height:30px}
.pl20 {padding-left:20px}

h2{font-family:"microsoft yahei";font-size:14px;}
.wd240{width:240px;}
.wd252{width:232px;}
.ht399{height:399px;}
.ht14{height:14px;}
.lh33{line-height:33px;}
.lh23{line-height:23px;}
.lh12{line-height:12px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pr20{padding-right:20px;}
.wd204{width:204px;}
.wd443{width:443px;}
.wd185{width:185px;}
.ml19{margin-left:19px;}
.pt30{padding-top:30px;} 
.pb12{padding-bottom:12px;}
.bt{border-top:1px solid #eae7e7;}
.gray{color:#999;}
.blee{border-left:1px solid #eeeeee;}
.fwblod{font-weight:bold;}


/* nav-wrap */
.nav-wrap{position:relative;*z-index:2;width:100%;background:#ff6600;}
.nav{position:relative;width:770px;height:40px;margin:0 auto;padding-left:190px;}
.goods{position:absolute;top:0;left:0;width:190px;height:40px;}
.goods .title{background:#D25400;}
.goods h2 a,.goods .title{display:block;height:40px;padding-left:20px;line-height:40px;color:#fff;}
.goods h2 a:hover{text-decoration:none;}


.all-goods{position:absolute;top:0px;left:0;width:80px;height:100%;background:#4A8BC2;border:solid #4A8BC2;border-width:0 2px 2px;overflow:visible;}
.all-goods .item{width:80px;height:56px;border-top:1px solid #4A8BC2;background:#4A8BC2;}
.all-goods .btnone{border-top:none;}
.all-goods .item .product{position:absolute;z-index:999;width:80px;}
.all-goods .item .product h3{width:157px;height:54px;padding-left:28px;border-width:1px 0;font-weight:normal;line-height:36px;background:url(../images/indexSprite.png) no-repeat -12px 12px;}
.all-goods .item .product h3 a{color:#FFFFFF;font-size:14px;font-family:"宋体";}
.all-goods .item .product h3 a:hover{text-decoration:none;}
.all-goods .item .product s{display:block;position:absolute;top:13px;left:167px;width:6px;height:9px;background:url(../images/indexSprite.png) no-repeat 0px 0px;}
.all-goods .active .product h3{line-height:52px;background-position:-12px -185px;background-color:#FFFFFF;border:1px solid #4A8BC2;border-width:2px 0;width:54px;}
.all-goods .active .product h3 a{color:#ff6600;}
.all-goods .product-wrap{position:absolute;width:478px;z-index:99;border:2px solid #4A8BC2;background:#FFFFFF;padding:20px;display:none;}
.all-goods .product-wrap p{color:#999999;}
.all-goods .pos01{left:80px;top:0px;}
.all-goods .pos02{left:80px;top:37px;}
.all-goods .pos03{left:80px;top:74px;}
.all-goods .pos04{left:80px;top:111px;}
.all-goods .pos05{left:80px;top:148px;}
.all-goods .pos06{left:80px;top:185px;}
.all-goods .pos07{left:80px;bottom:-2px;}
.all-goods .pos08{left:80px;bottom:-2px;}
.all-goods .pos09{left:80px;bottom:-2px;}
.all-goods .pos10{left:80px;bottom:-2px;}
.all-goods .product-wrap h2{font-size:16px;color:#333;font-weight:bold;}
.all-goods .product-wrap h2 a{height:auto;line-height:16px;color:#333;padding-left:0;}
.all-goods .product-wrap ul{border-top:2px solid #c1c1c1;}
.all-goods .product-wrap ul li{float:left;display:inline;margin-right:15px;margin-top:15px;white-space:nowrap;}
.all-goods .product-wrap ul li a{padding-left:30px;background:url(../images/indexSprite.png) no-repeat -8px -249px;color:#666666;display:inline-block;line-height:18px;text-decoration:none;font-weight:bold;}
.all-goods .product-wrap ul li a:hover{text-decoration:none;background-position:-8px -219px;color:#ff6600;}
.all-goods .product-wrap div dd,.all-goods .product-wrap div dl a{display:block;width:185px;height:120px;overflow:hidden;}
