.l-icon{ width:16px; height:16px; overflow:hidden;}
.l-icon-add{ background:url('icons/add.gif') no-repeat center;}
.l-icon-edit{ background:url('icons/edit.gif') no-repeat center;}
.l-icon-view{ background:url('icons/view.gif') no-repeat center;}
.l-icon-delete{ background:url('icons/delete.gif') no-repeat center;}
.l-icon-back{ background:url('icons/back.gif') no-repeat center;}
.l-icon-bluebook{ background:url('icons/bluebook.gif') no-repeat center;}
.l-icon-bookpen{ background:url('icons/bookpen.gif') no-repeat center;} 
.l-icon-coffee{ background:url('icons/coffee.gif') no-repeat center;}
.l-icon-cut{ background:url('icons/cut.gif') no-repeat center;}
.l-icon-discuss{ background:url('icons/discuss.gif') no-repeat center;} 
.l-icon-graywarn{ background:url('icons/graywarn.gif') no-repeat center;}
.l-icon-greenwarn{ background:url('icons/greenwarn.gif') no-repeat center;}
.l-icon-help{ background:url('icons/help.gif') no-repeat center;}
.l-icon-home{ background:url('icons/home.gif') no-repeat center;}
.l-icon-lock{ background:url('icons/lock.gif') no-repeat center;}
.l-icon-logout{ background:url('icons/logout.gif') no-repeat center;}
.l-icon-mailbox{ background:url('icons/mailbox.gif') no-repeat center;}
.l-icon-memeber{ background:url('icons/memeber.gif') no-repeat center;}
.l-icon-modify{ background:url('icons/modify.gif') no-repeat center;}
.l-icon-msn{ background:url('icons/msn.gif') no-repeat center;}
.l-icon-ok{ background:url('icons/ok.gif') no-repeat center;}
.l-icon-outbox{ background:url('icons/outbox.gif') no-repeat center;}
.l-icon-pager{ background:url('icons/pager.gif') no-repeat center;}
.l-icon-photograph{ background:url('icons/photograph.gif') no-repeat center;}
.l-icon-prev{ background:url('icons/prev.gif') no-repeat center;}
.l-icon-print{ background:url('icons/print.gif') no-repeat center;}
.l-icon-qq{ background:url('icons/qq.gif') no-repeat center;}
.l-icon-refresh{ background:url('icons/refresh.gif') no-repeat center;}
.l-icon-right{ background:url('icons/right.gif') no-repeat center;}
.l-icon-save-disabled{ background:url('icons/save-disabled.gif') no-repeat center;}
.l-icon-save{ background:url('icons/save.gif') no-repeat center;}
.l-icon-search{ background:url('icons/search.gif') no-repeat center;}
.l-icon-search2{ background:url('icons/search2.gif') no-repeat center;}
.l-icon-settings{ background:url('icons/settings.gif') no-repeat center;}
.l-icon-TRUE{ background:url('icons/true.gif') no-repeat center;}
.l-icon-candle{ background:url('icons/candle.gif') no-repeat center;}
.l-icon-up{ background:url('icons/up.gif') no-repeat center;}
.l-icon-down{ background:url('icons/down.gif') no-repeat center;}
.l-icon-role{ background:url('icons/role.gif') no-repeat center;}
.l-icon-config{ background:url('icons/config.gif') no-repeat center;}
.l-icon-address{ background:url('icons/address.gif') no-repeat center;}
.l-icon-process{ background:url('icons/process.gif') no-repeat center;}
.l-icon-archives{ background:url('icons/archives.gif') no-repeat center;}
.l-icon-attibutes{ background:url('icons/attibutes.gif') no-repeat center;}
.l-icon-busy{ background:url('icons/busy.gif') no-repeat center;}
.l-icon-calendar{ background:url('icons/calendar.gif') no-repeat center;}
.l-icon-comment{ background:url('icons/comment.gif') no-repeat center;}
.l-icon-plus{ background:url('icons/plus.gif') no-repeat center;}
.l-icon-communication{ background:url('icons/communication.gif') no-repeat center;}
.l-icon-customers{ background:url('icons/customers.gif') no-repeat center;}
.l-icon-database{ background:url('icons/database.gif') no-repeat center;}
.l-icon-myaccount{ background:url('icons/myaccount.gif') no-repeat center;}
