html{height:100%}  
body{height:100%;margin:0px;padding:0px;background-color:#101f38;}  
.anchorBL{display:none;}
.show_main{
	height:100%;
	background:#101f38;
}  
.show_body{
	width:100%;
	background:#101f38;
	height:100%;
}
.show_title{
	width:100%;
	margin:auto auto;
	height:30px;
}
.show_title_h3{
	font-size: 18px;
    font-weight: bold;
    color: #00B2EE;
    padding-top: 2px;
    margin-left: 8px;
}
.show_menu{
	color:#ffffff;
}
.show_menu{
	position:fixed;
	top:50px;
	left:20px;
	z-index:999;
}
.show_main{
	width:100%;
	margin:auto auto;
	height:calc(100% - 40px);
	background:#101f38;
}
.show_main_left{
	float:left;
	width:65%;
	height:100%;
	background:#101f38;
}
.show_map{
	width:98%;
	margin:auto;
	margin-top:0px;
	height:70%;
	box-sizing: border-box;
    border: 2px solid rgba(120, 130, 140, 0.13);
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.show_map:hover
{ 
	box-sizing: border-box;
    border: 2px solid #1874CD;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.show_map_info{
	width: 200px;
	height: 50px;
	background:#101f38;
	border-radius:5px;
	border:1px solid #000000
}
.show_map_info_title{
	margin-left:5px;
	margin-top:2px;
	width:170px;
	height:15px;
	font-size:12px;
	overflow:hidden
}
.show_map_info_menu{
	width:10px;
	height:10px;
	line-height:10px;
	padding-left:5px;
	margin-left:5px;
	margin-top:2px;
}
.show_alarm{
	width:98%;
	margin:auto;
	margin-top:4px;
	height:calc(30% - 4px);
}
.show_alarm_log{
	float:left;
	width:49.5%;
	height:100%;
	box-sizing: border-box;
    border: 2px solid rgba(120, 130, 140, 0.13);
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    background: #282F3C;
}
.show_alarm_log:hover
{ 
	box-sizing: border-box;
    border: 2px solid #1874CD;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.show_alarm_other{
	float:left;
	width:49.5%;
	margin-left:1%;
	height:100%;
	box-sizing: border-box;
    border: 2px solid rgba(120, 130, 140, 0.13);
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.show_alarm_other:hover
{ 
	box-sizing: border-box;
    border: 2px solid #1874CD;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
#chart2{
	height:100%;
}
ui,li {
    list-style: none;
}
#alarm_log_list{
	width:98%;
	margin:auto;
    height: 100%;
    overflow: hidden;
    color:#FF7D23;
}
#alarm_log_list li{
	height:30px;
	border-top: 1px solid #dee2e6;
	margin-top:5px;
	padding:0px;
	transition:background 1s;
	-webkit-transition:background 1s;
}
#alarm_log_list li:HOVER{
	background:#FF715E;
}
#alarm_log_list li:HOVER .alarm_log_list_li a{
	text-decoration: underline;
	color:white;
	font-weight: bold;
}
.alarm_log_list_li a{
	font-size:11px;
	color:#999999;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	display:block;
	float:left;
	height:30px;
	line-height:30px;
	text-decoration: none;
}
.alarm_log_list_li a:VISITED{
	text-decoration: underline;
	color:red;
}
.show_main_right{
	float:left;
	width:35%;
	height:100%;
	background:#101f38;
}
.show_count_top{
	width:98%;
	margin:auto;
	min-height:180px;
	height:30%;
	box-sizing: border-box;
    border: 2px solid rgba(120, 130, 140, 0.13);
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.show_count_top:hover
{ 
	box-sizing: border-box;
    border: 2px solid #1874CD;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.show_count_center{
	width:98%;
	margin:auto;
	margin-top:2%;
	height:33%;
	box-sizing: border-box;
    border: 2px solid rgba(120, 130, 140, 0.13);
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.show_count_center:hover
{ 
	box-sizing: border-box;
    border: 2px solid #1874CD;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
#chart{
	height:100%;
}
.show_count_bottom{
	width:98%;
	margin:auto;
	margin-top:2%;
	height:33%;
	box-sizing: border-box;
    border: 2px solid rgba(120, 130, 140, 0.13);
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.show_count_bottom:hover
{ 
	box-sizing: border-box;
    border: 2px solid #1874CD;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
#chart1{
	height:100%;
}
.row_total_col{
	float:left;
	width:22.6%;
	height:76px;
	margin-left:2%;
	margin-top:8px;
	background-color:rgba(24,116,205,0.8);
    text-align: center;
    border: 0 solid rgba(120, 130, 140, 0.13);
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.row_total_col_num{
	font-family: inherit;
	width:90%;
	margin-top:20px;
    font-weight: 600;
    color: inherit;
    color: #ffffff !important;
    font-size: 0.8rem;
    word-wrap:break-word;
    white-space:normal; 
}
.row_total_col_text{
	margin-left:2%;
	width:90%;
	margin-right:2%;
    transition: .3s background;
    color: #ffffff !important;
    word-wrap:break-word;
    white-space:normal; 
}