﻿/* -----------------------
   * tab *
* ----------------------- */
.l-tab-links
{
    background: none;border:none;
}
    .l-tab-links li
    {background: none;border:none;
    }
.l-tab-loading { position: absolute; z-index: 999; top: 0; left: 0; background: white url('../images/bigloading.gif') no-repeat center 40%; width: 100%; height: 100%; _height: 800px; display: none; }
.l-tab-links { background-color:#F9F9F9;position: relative; margin: 0 18px -1px; height: 29px; overflow: hidden; z-index: 1; }
.l-tab-links-left, .l-tab-links-right { position: absolute; top: 2px; width: 16px; height: 28px; border: 1px solid #dedede; background: #fff; z-index: 13; overflow: hidden; cursor: pointer; }
.l-tab-links-left { left: 0; border-top-left-radius: 2px; }
.l-tab-links-right { right: 0; border-top-right-radius: 2px; }
.l-tab-links-left span, .l-tab-links-right span { position: absolute; left: 50%; top: 50%; margin: -5px 0 0 -3.5px; width: 7px; height: 11px; background: url('../images/tab_arrow_spr.png') no-repeat 0 -16px; font-size: 0; overflow: hidden; }
.l-tab-links-right span { background-position: -16px -16px; }
.l-tab-links-left-over, .l-tab-links-right-over { background: #f4f4f4; }
.l-tab-links-left-over i { background-position: 0 -16px; }
.l-tab-links-right-over i { background-position: -16px -16px; }
.l-tab-links-left-invalid { background-position: 0 0; }
.l-tab-links-right-invalid { background-position: -16px 0; }
.l-tab-links ul { padding: 2px 0 0 1px; list-style: none; width: 9999px; overflow: hidden; position: absolute; top: 0; left: 0; zoom: 1; }
.l-tab-links li { float: left; margin: 0; padding: 0; display: inline; margin-left: -1px; height: 28px; line-height: 28px; cursor: pointer; position: relative; overflow: hidden; border: 1px solid #dedede; }
.l-tab-links li:first-child { border-top-left-radius: 2px; }
.l-tab-links li:last-child { border-top-right-radius: 2px; }
.l-tab-links li.l-selected { height: 30px; line-height: 30px; top: -2px; z-index: 10; border: 1px solid #CCC; border-bottom: 1px solid #f4f4f4; z-index: 10; border-top-left-radius: 2px; border-top-right-radius: 2px; background: #f4f4f4;
/*background: -moz-linear-gradient(top, #fcfcfc, #f4f4f4); 
background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f4f4f4)); 
background: -o-linear-gradient(top, #fcfcfc, #f4f4f4);
background: -ms-linear-gradient(top, #fcfcfc 0%,#f4f4f4 100%); 
background: linear-gradient(top, #fcfcfc, #f4f4f4); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4');*/}
.l-tab-links li a { display: block; margin: 0 30px 0 10px; text-decoration: none; color: #aaa; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none; }
.l-tab-links li.l-selected a { color: #333; font-size: 14px; font-weight: bold; }
.l-tab-links-item-left, .l-tab-links-item-right { display: none; }
.l-tab-links-item-close { width: 12px; height: 12px; overflow: hidden; position: absolute; top: 8px; right: 5px; z-index: 12; background: url('../images/tab_close.png') no-repeat; cursor: pointer; }
.l-selected .l-tab-links-item-close { background-position: 0 -12px; top: 8px; }
.l-tab-links .l-tab-links-item-close-over { background-color: #ddd; background-position: 0 -12px; border-radius: 1px; color:#c5160b; }
.l-tab-content { margin: 0 auto; padding: 0; border-top: 1px solid #d6d6d6; width: 100%; }
.l-tab-content-item { width: 100%; overflow: hidden; position: relative; }
.l-tab-content-item iframe { width: 100%; height: 100%; border: none; }
.l-tab-drag-proxy { border: 1px solid #BDD1EE; position: absolute; z-index: 1001; height: 25px; line-height: 25px; padding-left: 19px; padding-right: 4px; background: white; }
.l-tab-drag-proxy .l-drop-icon { position: absolute; top: 5px; left: 4px; width: 16px; height: 16px; }
 